
html {
    /* fix or change repeating background image */
    background-image: url("assets/index_bg.png");
    background-repeat: repeat;
    background-size: 500px;
    background-color:#32936f;
    padding-top: 50px;

}

body {
    top: 60px;
    display: flex;
    justify-content: center;
    max-width: 1050px;
    height: auto;
    padding: 10px;
    margin: 30px auto;
} 

/* main {
    display: flex;
    justify-content: center;
    max-width: 1050px;
    height: 1400px;
    background-color: white;
    padding: 10px;
    margin: 30px auto;

}*/

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


figcaption {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 320px;
    padding: 5px;
    background-color: rgb(198, 247, 184, .40);
}


p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;

}

li {
    font-family: Arial, Helvetica, sans-serif;
    
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table, th, td {
    border:1px solid black;
    background-color: rgb(158, 193, 207, .20);
    padding: 7px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

}


* {
    box-sizing: border-box;
  }


.artdivider {
    display: block;
    margin-left: 127px;
    margin-right: auto;
    width: 800px; 
    height: 25px;
    margin-top: 20px;
    opacity: 85%;

}

.artnav {
    list-style: none;
    width: 100%;
    margin-left: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artnav li {
    display: inline;
    flex: 1 1 auto;
    background-color:rgb(255, 199, 233);
    text-align: center;
    font-weight: 600;
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    padding: 5px;
    margin: 4px 3px 4px;
}

.artnav li:hover {
    background-color:rgb(198, 247, 184);
    padding: 5px;
    margin: 4px 3px 4px;

}

.artnav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(212, 46, 129);

}


.body-about {
    background-color: white;
    border-style: solid;
    border-top: 6px solid;
    border-color: rgb(158, 224, 158);

}


.body-art {
    background-color: white;
    border-style: solid;
    border-color: rgb(212, 46, 129);
    border-top: 6px solid rgb(255, 199, 233);
}

.body-art h2 {
    text-indent: 100px;
    margin-bottom: 0;
    padding-top: 20px;
}


.body-home {
    background-image: url("assets/index_body.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: static;
    margin: auto;
    margin-top: 32px;
    left: 0;
    right: 0;
    width:1174px;
    height:1400px;
    box-shadow: 2px 2px 10px #178059;

}

.body-latin {
    background-color: rgb(255, 248, 234);
    border-style: solid;
    border-top: 6px solid;
    border-color: rgb(158, 193, 207);
}

.body-latin h2 {
    text-indent: 112px;
    margin-bottom: -15px;
}

.body-latin p {
    margin-left: 0;
    max-width: 800px;
}


.body-paragraph {
    display: block;
    max-width: 900px;
}

.body-paragraph p {
    text-align: left;
    margin-left: 110px;
}

.content-home {
    max-width:800px;
    margin: auto;
    padding-left:60px;

}

.content-home h1 {
    font-size: 45px;
    margin-bottom: 43px;
}

.content-home p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 63.5px;
    font-size: 30px;

}


.divider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px; 
    height: 25px;
    margin-top: 20px;
    opacity: 85%;

}


.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 10px;
    gap: 16px;
  }

.gallery img {
    width: auto;
    padding: 4px;
    object-fit: cover;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(255, 199, 233)
  }


.header-paragraph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}

.header-paragraph p {
    text-align: center;
}

.homedivider {
    display: block;
    margin-left: 105px;
    margin-right: auto;
    width: 800px; 
    height: 25px;
    margin-top: 20px;
    margin-bottom: 30px;;
    opacity: 85%;

}


.html-about {
    background-color: white;
    background-image: url("assets/about_bg");
}

.html-art {
    background-color: white;
    background-image: url("assets/art_bg.png");
    background-size: 500px;
    background-position: right -50px;
    background-repeat: repeat;

}

.html-latin {
    background-color: rgb(255, 233, 185);
    background-image: url("assets/latin_bg.png");
    background-size: 250px;
    background-repeat: repeat;

}

.latinlesson {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


  }

.latinlist {
    display: flex;
    margin-left: 90px;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;

  }

.latinlist li {
   margin-bottom: 12px;
   max-width: 700px;

  }  



.mainnav {
    position: absolute;
    top: 0;
    margin: 16px auto;
    list-style: none;
    width: 100%;
    max-width: 1050px;
    padding: 10px;
    display: flex;
    justify-content: right;

  }

.mainnav li {
    display: inline;
    background-color:rgb(255, 199, 233);
    text-align: center;
    font-weight: 600;
    display: inline-block;
    margin-left: 3px;
    width: 90px;
    padding: 10px;

}

.mainnav a {
    color: rgb(42, 42, 42);
    font-family: monospace;
    font-size: 17px;

}


.table-spacing th {
    padding-right: 30px;

}


.update-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 115px;
    padding: 20px 10px;
    background-color: rgb(254, 177, 68);
    width: 500px;
    height: auto;

}

.update-header h4{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color:rgb(0, 0, 0);

}

.update-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;
    margin-left: 130px;
    padding: 20px 10px;
    background-color: rgb(250,241,192);
    width: 730px;
    height: auto;
}

.update-body p {
    font-weight: bold;
    font-size: 18px;
    margin-left: 50px;
    margin-bottom: -5px;
}

.update-body li {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 35px;
    margin-left: 50px;
    max-width: 520px;

}

#latinfig {
    display: block;
    margin-left: auto;
    margin-right: auto;

}


#latincaption {
    background-color: rgb(158, 193, 207, .25);
    width: 430px;

}

.nobullet {
    list-style: none;

}

#aboutme-one {
    background-color: rgb(255, 102, 99, .20);
    border-left: 5px solid rgb(255, 102, 99);
    width: fit-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;
    margin-top: 20px;

}

#aboutme-two {
    float: right;
    background-color: rgb(254, 177, 68, .20);
    border-right: 5px solid rgb(254, 177, 68);
    width: fit-content;
    padding: 10px;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 20px;

}

#aboutme-three {
    background-color: rgb(158, 193, 207, .20);
    border-left: 5px solid rgb(158, 193, 207);
    width: fit-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;

}

#navabout {
    background-color: rgb(158, 193, 207);
}

#navhome {
    background-color: rgb(255, 102, 99);

}

#navart {
    background-color: rgb(254, 177, 68);
}

#navlang {
    background-color: rgb(158, 224, 158);
}


#mainnav-blue li {
    background-color: rgb(158, 193, 207);
} 

#mainnav-green li {
    background-color: rgb(158, 224, 158);
} 



